<h2>Show user</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Avatar:</strong>
    <%= if @user.avatar do %>
      <img alt="<%= @user.avatar["filename"] %>" src="<%= avatar_src(@conn, @user) %>">
    <% else %>
      N/A
    <% end %>
  </li>

</ul>

<%= link "Edit", to: user_path(@conn, :edit, @user) %>
<%= link "Back", to: user_path(@conn, :index) %>
